@charset "UTF-8";
@import url("fonts.css");
* {
  padding: 0;
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  font-size: inherit;
  font-weight: 300;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

body {
  background-color: #c8c8c8;
  cursor: default;
  font-size: 21px;
}

header {
  height: 42px;
  line-height: 40px;
  padding-left: 42px;
  padding-top: 42px;
  font-size: 2em;
  margin-bottom: 8.4px;
}

header * {
  font-weight: 500;
}

.headerlinks {
  height: 42px;
  margin-left: 42px;
  margin-bottom: 42px;
  font-weight: 300;
}

.headerlinks .tuto {
  text-decoration: underline;
}

.headerlinks .sevenths-button {
  opacity: 0.5;
  font-size: 0.9em;
}

.about-background {
  display: none;
}

.about {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
  top: 60%;
  left: -100%;
}

#about:target ~ .about {
  font-size: 16px;
  -webkit-transition: top 0.5s, opacity 0.5s;
  transition: top 0.5s, opacity 0.5s;
  display: block;
  position: fixed;
  background: #c8c8c8;
  height: 768px;
  max-height: 95vh;
  width: 1024px;
  max-width: 95vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-left: 42px;
  padding-right: 42px;
  z-index: 100;
  border: solid black 1px;
  border-radius: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

#about:target ~ .about .about-text {
  height: 100%;
  overflow-y: auto;
}

#about:target ~ .about .about-text * {
  white-space: normal;
}

#about:target ~ .about .about-text h3 {
  font-size: 1.3em;
  margin-top: 42px;
  margin-bottom: 0.5em;
  font-weight: 500;
}

#about:target ~ .about .about-text p {
  margin-bottom: 1em;
}

#about:target ~ .about .about-text ul {
  list-style-type: circle;
  list-style-position: inside;
}

#about:target ~ .about .about-text ul li {
  margin-left: 1em;
  margin-bottom: 4px;
  line-height: 1.3em;
}

#about:target ~ .about .about-text a {
  text-decoration: underline;
}

#about:target ~ .about .about-text span {
  border-radius: 999px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  padding: 0px 5px 2px 5px;
}

#about:target ~ .about .about-text .text-1 {
  background-color: #eeeeee;
}

#about:target ~ .about .about-text .text-2 {
  background-color: #ec7063;
}

#about:target ~ .about .about-text .text-3 {
  background-color: #e67e22;
}

#about:target ~ .about .about-text .text-4 {
  background-color: #ffeb3b;
}

#about:target ~ .about .about-text .text-5 {
  background-color: #8bc34a;
}

#about:target ~ .about .about-text .text-6 {
  background-color: #42a5f5;
}

#about:target ~ .about .about-text .text-7 {
  background-color: #c45fd6;
}

#about:target ~ .about .about-text strong {
  font-weight: 500;
}

#about:target ~ .about-background {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background: rgba(200, 200, 200, 0.5);
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
}

#s2 {
  opacity: 0.6;
}

#s3 {
  opacity: 0.4;
}

#s4 {
  opacity: 0.25;
}

#s5 {
  opacity: 0.2;
}

#s6 {
  opacity: 0.15;
}

#s7 {
  opacity: 0.1;
}

#s8 {
  opacity: 0.05;
}

.scalegroup {
  margin-bottom: 42px;
}

.scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: opacity 0.2s, top 1s;
  transition: opacity 0.2s, top 1s;
  top: 0px;
  bottom: 0px;
}

h1 {
  font-weight: 300;
  font-size: 1.15em;
}

.scale-name {
  font-weight: 500;
}

h2 {
  white-space: nowrap;
  line-height: 40px;
  margin-left: 42px;
  font-weight: 300;
}

.common h2 {
  font-weight: 500;
}

.root {
  font-size: 0.8em;
  display: inline-block;
  height: 31.5px;
  width: 84px;
  margin-right: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  border-radius: 999px;
  line-height: 29.5px;
  text-align: center;
  overflow: hidden;
}

/*
.sev {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
	font-size: 0.7em;
}
*/
.scale .middle::after {
  content: '';
  z-index: 1;
  display: block;
  position: absolute;
  width: 546px;
  height: 42px;
  border-radius: 999px;
  -webkit-box-shadow: rgba(200, 200, 200, 0) 0 0 100px 100px;
          box-shadow: rgba(200, 200, 200, 0) 0 0 100px 100px;
}

.scale .middle:hover::after {
  -webkit-box-shadow: rgba(200, 200, 200, 0.95) 0 0 100px 100px;
          box-shadow: rgba(200, 200, 200, 0.95) 0 0 100px 100px;
}

header, .order-button, h1, .left, .right {
  z-index: 2;
}

.scale::after {
  display: none;
  content: attr(example);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  height: 42px;
  line-height: 40px;
  vertical-align: middle;
  margin-left: 42px;
}

.break {
  height: 42px;
}

.targets {
  display: none;
}

.fifths,
.tones,
.hide-sevenths,
.display-sevenths {
  text-decoration: underline;
}

#order-by-fifths:not(:target) ~ div .tones {
  opacity: 1;
  font-weight: 500;
}

#order-by-fifths:target ~ div .fifths {
  opacity: 1;
  font-weight: 500;
}

#order-by-fifths:target ~ div .ionian {
  top: 42px;
}

#order-by-fifths:target ~ div .dorian {
  top: 84px;
}

#order-by-fifths:target ~ div .phrygian {
  top: 126px;
}

#order-by-fifths:target ~ div .lydian {
  top: -126px;
}

#order-by-fifths:target ~ div .mixolydian {
  top: -84px;
}

#order-by-fifths:target ~ div .aeolian {
  top: -42px;
}

#no-sevenths:target ~ div .scale .root .sev {
  display: none;
}

#no-sevenths:not(:target) ~ div .scale .root .nosev {
  display: none;
}

#no-sevenths:target ~ div .hide-sevenths {
  font-weight: 500;
}

#no-sevenths:not(:target) ~ div .display-sevenths {
  font-weight: 500;
}

.i1,
.i2m,
.i2,
.i2a,
.i3d,
.i3m,
.i3,
.i3a,
.i4d,
.i4,
.i4a,
.i5d,
.i5,
.i5a,
.i6d,
.i6m,
.i6,
.i6a,
.i7d,
.i7m,
.i7,
.i8,
.pm,
.p,
.pt,
.pc {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 42px;
  width: 42px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 40px;
}

.i2,
.i2a,
.i3,
.i3a,
.i4,
.i4a,
.i5,
.i5a,
.i6,
.i6a,
.i7 {
  color: rgba(0, 0, 0, 0.6);
}

.i2m,
.i3d,
.i3m,
.i4d,
.i5d,
.i6d,
.i6m,
.i7d,
.i7m {
  color: rgba(255, 255, 255, 0.7);
}

.i1 {
  color: rgba(0, 0, 0, 0.6);
}

.i8 {
  color: rgba(0, 0, 0, 0.6);
}

.i2,
.i2a,
.i3,
.i3a,
.i4a,
.i5a,
.i6,
.i6a,
.i7,
.p {
  border-radius: 0 100% 100% 0;
  border-left: 0;
}

.i2m,
.i3d,
.i3m,
.i4d,
.i5d,
.i6d,
.i6m,
.i7d,
.i7m,
.pm {
  border-radius: 100% 0 0 100%;
  border-right: 0;
}

.i4,
.i5 {
  border-radius: 20%;
}

.i1,
.i8,
.pt {
  border-radius: 100%;
}

.pc {
  border-left: 0;
  border-right: 0;
}

.i1::after {
  content: "1";
}

.i2m::after {
  content: "♭2";
}

.i2::after {
  content: "2";
}

.i2a::after {
  content: "♯2";
}

.i3d::after {
  content: "𝄫3";
}

.i3m::after {
  content: "♭3";
}

.i3::after {
  content: "3";
}

.i3a::after {
  content: "♯3";
}

.i4d::after {
  content: "♭4";
}

.i4::after {
  content: "4";
}

.i4a::after {
  content: "♯4";
}

.i5d::after {
  content: "♭5";
}

.i5::after {
  content: "5";
}

.i5a::after {
  content: "♯5";
}

.i6d::after {
  content: "𝄫6";
}

.i6m::after {
  content: "♭6";
}

.i6::after {
  content: "6";
}

.i6a::after {
  content: "♯6";
}

.i7d::after {
  content: "𝄫7";
}

.i7m::after {
  content: "♭7";
}

.i7::after {
  content: "7";
}

.i8::after {
  content: "8";
}

.i1 {
  background: #eeeeee;
}

.i8 {
  background: #eeeeee;
}

.i2m,
.i2,
.i2a {
  background: #ec7063;
}

.i3d,
.i3m,
.i3,
.i3a {
  background: #e67e22;
}

.i4d,
.i4,
.i4a {
  background: #ffeb3b;
}

.i5d,
.i5,
.i5a {
  background: #8bc34a;
}

.i6d,
.i6m,
.i6,
.i6a {
  background: #42a5f5;
}

.i7d,
.i7m,
.i7 {
  background: #c45fd6;
}

.i1,
.i2,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8 {
  -webkit-box-shadow: -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
          box-shadow: -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
}

.i2a,
.i3a,
.i4a,
.i5a,
.i6a {
  -webkit-box-shadow: 0 0 999px rgba(255, 255, 255, 0.5) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0 0 999px rgba(255, 255, 255, 0.5) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
}

.i2m,
.i3m,
.i6m,
.i7m {
  -webkit-box-shadow: 0 0 999px rgba(0, 0, 0, 0.4) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0 0 999px rgba(0, 0, 0, 0.4) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
}

.i3d,
.i4d,
.i5d,
.i6d,
.i7d {
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.8) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.8) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
}

.i2a::before,
.i3d::before,
.i3a::before,
.i4d::before,
.i5a::before,
.i6d::before,
.i6a::before,
.i7d::before {
  display: inline-block;
  position: absolute;
  top: -1px;
  z-index: -1;
  height: 42px;
  width: 42px;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
}

.pm,
.p,
.pt,
.pc,
.i2a::before,
.i3d::before,
.i3a::before,
.i4d::before,
.i5a::before,
.i6d::before,
.i6a::before,
.i7d::before {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 0px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset;
}

.i2a::before,
.i3a::before,
.i5a::before,
.i6a::before {
  left: 0px;
  border-right: 0;
  border-left: 0;
}

.i3d::before,
.i4d::before,
.i6d::before,
.i7d::before {
  left: -1px;
  border-right: 0;
  border-left: 0;
}

footer {
  background: url(bg.jpg);
  border-radius: 999px;
  padding-left: 8px;
  position: fixed;
  bottom: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  z-index: 101;
}

#top {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 42px;
  width: 42px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  background: #111111;
  border-radius: 100%;
  color: #eeeeee;
  text-align: center;
  line-height: 30px;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#top:hover {
  opacity: 1;
}

footer span {
  opacity: 0.5;
  font-size: 0.8em;
  line-height: 40px;
  text-align: middle;
  display: inline-block;
  height: 42px;
  margin-right: 8px;
}

footer span a {
  text-decoration: underline;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.title-buttons {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-buttons .left span {
  width: 168px;
  opacity: 0.5;
  font-size: 0.9em;
  text-align: center;
}

.title-buttons .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-buttons .order-button {
  opacity: 0.5;
  font-size: 0.9em;
}

.left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 168px;
}

.middle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 546px;
          flex: 0 0 546px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 168px;
}

.scalegroup-title {
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
