// i=interval, p=placeholder

$tone-size: 42px;

$chord-width: $tone-size * 4;


$z-footer: 101;
$z-about: 100;
$z-about-background: 99;
$z-over-shadow: 2;
$z-scale-shadow: 1;
$z-aug-dim-background: -1;

$color-1: #eeeeee;
$color-2: #ec7063;
$color-3: #e67e22;
$color-4: #ffeb3b;
$color-5: #8bc34a;
$color-6: #42a5f5;
$color-7: #c45fd6;

$color-hilight-hidden: 		rgba(200, 200, 200, 0);
$color-hilight-hover:  		rgba(200, 200, 200, 0.95);
$color-about-background: 	rgba(200, 200, 200, 0.5);
$color-bg: 					rgb( 200, 200, 200);

@import url('fonts.css');
//OTHER
* {
	padding: 0;
	margin: 0;
	font-family: 'Fredoka', sans-serif;
	font-size: inherit;
	font-weight: 300;
	text-decoration: none;
	color: black;
	white-space: nowrap;
}

body {
	background-color: $color-bg;
	cursor: default;
	font-size: 16 / 32 * $tone-size; //16 is default, 32 is original design
}

header {
	height: $tone-size;
	line-height: $tone-size - 2;
	* { font-weight: 500; }
	padding-left: $tone-size;
	padding-top: $tone-size;
	font-size: 2em;
	margin-bottom: $tone-size * 0.2;
}

.headerlinks {

	height: $tone-size;
	margin-left: $tone-size;
	margin-bottom: $tone-size;
	font-weight: 300;
	.tuto {
		text-decoration: underline;
	}
	.sevenths-button {
		opacity: 0.5;
		font-size: 0.9em;
	}
}


//How to read? popup
.about-background {
	display: none;
}

.about {
	opacity: 0;
	position: absolute;
	height: 0;
	width: 0;
	top: 60%;
	left: -100%;
}

#about:target ~ .about {
	font-size: 16px;
	transition: top 0.5s, opacity 0.5s;
	display: block;
	position: fixed;
	// float: left;
	background: $color-bg;

	height: 768px;
	max-height: 95vh;
	width: 1024px;
	max-width: 95vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// margin: -384px;

	// height: calc(100vh - 196px);
	// width: calc(100vw - 196px);
	// top: 98px;
	// left: 98px;

	padding-left: $tone-size;
	padding-right: $tone-size;
	z-index: $z-about;
	border: solid black 1px;
	border-radius: $tone-size / 2;
	box-sizing: border-box;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
	opacity: 1;

	.about-text {
		* { white-space: normal; }
		height: 100%;
		overflow-y: auto;

		h3 {
			font-size: 1.3em;
			margin-top: $tone-size;
			margin-bottom: 0.5em;
			font-weight: 500;
		}
		p {
			margin-bottom: 1em;
		}
		ul {
			list-style-type: circle;
			list-style-position: inside;
			li {
				margin-left: 1em;
				margin-bottom: 4px;
				line-height: 1.3em;
			}
		}
		a {
			text-decoration: underline;
		}
		span {
			border-radius: 999px;
			border: 1px solid rgba(0, 0, 0, 0.7);
			padding: 0px 5px 2px 5px;
		}
		.text-1 { background-color: $color-1;}
		.text-2 { background-color: $color-2;}
		.text-3 { background-color: $color-3;}
		.text-4 { background-color: $color-4;}
		.text-5 { background-color: $color-5;}
		.text-6 { background-color: $color-6;}
		.text-7 { background-color: $color-7;}

		strong { font-weight: 500;}
		
	}
}

#about:target ~ .about-background {
	backdrop-filter: blur(6px);
	background: $color-about-background;
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: $z-about-background;
}

#s2 {
	opacity: 0.6;
}
#s3 {
	opacity: 0.4;
}
#s4 {
	opacity: 0.25;
}
#s5 {
	opacity: 0.2;
}
#s6 {
	opacity: 0.15;
}
#s7 {
	opacity: 0.1;
}
#s8 {
	opacity: 0.05;
}

.scalegroup {
	margin-bottom: $tone-size;
}

.scale {
	display: flex;
	position: relative;
	transition: opacity 0.2s, top 1s;
	top: 0px;
	bottom: 0px;
}

h1 {
	font-weight: 300;
	font-size: 1.15em;
}

.scale-name {
	font-weight: 500;
}

h2 {
	// width: 256px;
	white-space: nowrap;
	line-height: $tone-size - 2;
	margin-left: $tone-size;
	font-weight: 300;
}

.common h2 {
	font-weight: 500;
}

.root {
	font-size: 0.8em;
	display: inline-block;
	height: $tone-size * 3 / 4;
	width: $chord-width - $tone-size * 2;
	margin-right: $tone-size;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 999px;
	line-height: $tone-size * 3 / 4 - 2;
	text-align: center;
	overflow: hidden;
}

/*
.sev {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
	font-size: 0.7em;
}
*/




// hilight hover scale with shadow
.scale .middle::after {
	content: '';
	// background-color: red;
	z-index: $z-scale-shadow;
	display: block;
	position: absolute;
	width: $tone-size * 13;
	height: $tone-size;

	border-radius: 999px;

	box-shadow: $color-hilight-hidden 0 0 100px 100px;

	// transition: box-shadow 0.2s;
}

.scale .middle:hover::after {
	box-shadow: $color-hilight-hover 0 0 100px 100px;
}

header, .order-button, h1, .left, .right {
	z-index: $z-over-shadow;
}


// example songs
.scale::after {
	display: none;
	content: attr(example);
	opacity: 0;
	transition: opacity 0.5s;
	height: $tone-size;
	line-height: $tone-size - 2;
	vertical-align: middle;
	margin-left: $tone-size;
}

// .scale:hover::after {
// 	display: inline-block;
// 	transition: opacity 1s;
// 	opacity: 0.5;
// }

.break {
	height: $tone-size;
}

.targets {
	display: none;
}

.fifths,
.tones,
.hide-sevenths,
.display-sevenths {
	text-decoration: underline;
}


#order-by-fifths:not(:target) ~ div .tones {
	opacity: 1;
	font-weight: 500;
}
#order-by-fifths:target ~ div .fifths {
	opacity: 1;
	font-weight: 500;
}

#order-by-fifths:target ~ div .ionian {
	top: $tone-size;
}
#order-by-fifths:target ~ div .dorian {
	top: $tone-size * 2;
}
#order-by-fifths:target ~ div .phrygian {
	top: $tone-size * 3;
}
#order-by-fifths:target ~ div .lydian {
	top: $tone-size * -3;
}
#order-by-fifths:target ~ div .mixolydian {
	top: $tone-size * -2;
}
#order-by-fifths:target ~ div .aeolian {
	top: -$tone-size;
}


#no-sevenths:target ~ div .scale .root .sev {
	display: none;
}

#no-sevenths:not(:target) ~ div .scale .root .nosev {
	display: none;
}

#no-sevenths:target ~ div .hide-sevenths {
	font-weight: 500;
}

#no-sevenths:not(:target) ~ div .display-sevenths {
	font-weight: 500;
}

.i1,
.i2m,
.i2,
.i2a,
.i3d,
.i3m,
.i3,
.i3a,
.i4d,
.i4,
.i4a,
.i5d,
.i5,
.i5a,
.i6d,
.i6m,
.i6,
.i6a,
.i7d,
.i7m,
.i7,
.i8,
.pm,
.p,
.pt,
.pc {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	height: $tone-size;
	width: $tone-size;
	border: 1px solid rgba(0, 0, 0, 0.7);
	text-align: center;
	line-height: $tone-size - 2;
}

.i2,
.i2a,
.i3,
.i3a,
.i4,
.i4a,
.i5,
.i5a,
.i6,
.i6a,
.i7 {
	color: rgba(0, 0, 0, 0.6);
}
.i2m,
.i3d,
.i3m,
.i4d,
.i5d,
.i6d,
.i6m,
.i7d,
.i7m {
	color: rgba(255, 255, 255, 0.7);
}
.i1 {
	color: rgba(0, 0, 0, 0.6);
}
.i8 {
	color: rgba(0, 0, 0, 0.6);
}

.i2,
.i2a,
.i3,
.i3a,
.i4a,
.i5a,
.i6,
.i6a,
.i7,
.p {
	border-radius: 0 100% 100% 0;
	border-left: 0;
}
.i2m,
.i3d,
.i3m,
.i4d,
.i5d,
.i6d,
.i6m,
.i7d,
.i7m,
.pm {
	border-radius: 100% 0 0 100%;
	border-right: 0;
}
.i4,
.i5 {
	border-radius: 20%;
}
.i1,
.i8,
.pt {
	border-radius: 100%;
}
.pc {
	border-left: 0;
	border-right: 0;
}

.i1::after {
	content: "1";
}
.i2m::after {
	content: "♭2";
}
.i2::after {
	content: "2";
}
.i2a::after {
	content: "♯2";
}
.i3d::after {
	content: "𝄫3";
}
.i3m::after {
	content: "♭3";
}
.i3::after {
	content: "3";
}
.i3a::after {
	content: "♯3";
}
.i4d::after {
	content: "♭4";
}
.i4::after {
	content: "4";
}
.i4a::after {
	content: "♯4";
}
.i5d::after {
	content: "♭5";
}
.i5::after {
	content: "5";
}
.i5a::after {
	content: "♯5";
}
.i6d::after {
	content: "𝄫6";
}
.i6m::after {
	content: "♭6";
}
.i6::after {
	content: "6";
}
.i6a::after {
	content: "♯6";
}
.i7d::after {
	content: "𝄫7";
}
.i7m::after {
	content: "♭7";
}
.i7::after {
	content: "7";
}
.i8::after {
	content: "8";
}


// TONES COLORS
.i1 {
	background: $color-1;
}
.i8 {
	background: $color-1;
}
.i2m,
.i2,
.i2a {
	background: $color-2;
}
.i3d,
.i3m,
.i3,
.i3a {
	background: $color-3;
}
.i4d,
.i4,
.i4a {
	background: $color-4;
}
.i5d,
.i5,
.i5a {
	background: $color-5;
}
.i6d,
.i6m,
.i6,
.i6a {
	background: $color-6;
}
.i7d,
.i7m,
.i7 {
	background: $color-7;
}

.i1,
.i2,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8 {
	box-shadow: -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
}

.i2a,
.i3a,
.i4a,
.i5a,
.i6a {
	box-shadow: 0 0 999px rgba(255, 255, 255, 0.5) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
}

.i2m,
.i3m,
.i6m,
.i7m {
	box-shadow: 0 0 999px rgba(0, 0, 0, 0.4) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
}

.i3d,
.i4d,
.i5d,
.i6d,
.i7d {
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.8) inset, -4px 2px 4px rgba(255, 255, 255, 0.3) inset;
}

.i2a::before,
.i3d::before,
.i3a::before,
.i4d::before,
.i5a::before,
.i6d::before,
.i6a::before,
.i7d::before {
	display: inline-block;
	position: absolute;
	top: -1px;
	z-index: $z-aug-dim-background;
	height: $tone-size;
	width: $tone-size;
	content: "";
	box-sizing: border-box;
	border-style: solid;
}

.pm,
.p,
.pt,
.pc,
.i2a::before,
.i3d::before,
.i3a::before,
.i4d::before,
.i5a::before,
.i6d::before,
.i6a::before,
.i7d::before {
	background: rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 0.1);
	border-width: 0px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) inset;
}

.i2a::before,
.i3a::before,
.i5a::before,
.i6a::before {
	left: 0px;
	border-right: 0;
	border-left: 0;
}

.i3d::before,
.i4d::before,
.i6d::before,
.i7d::before {
	left: -1px;
	border-right: 0;
	border-left: 0;
}

footer {
	background: url(bg.jpg);
	border-radius: 999px;
	padding-left: 8px;
	position: fixed;
	bottom: 8px;
	right: 8px;
	display: flex;
	height: $tone-size;
	z-index: $z-footer;
}

#top {
	display: inline-block;
	box-sizing: border-box;
	height: $tone-size;
	width: $tone-size;
	border: 2px solid rgba(0, 0, 0, 0.7);
	background: #111111;
	border-radius: 100%;
	color: #eeeeee;
	text-align: center;
	line-height: $tone-size - 12;
	opacity: 0.3;
	transition: opacity 0.2s;
}

#top:hover {
	opacity: 1;
}

footer span {
	opacity: 0.5;
	font-size: 0.8em;
	line-height: $tone-size - 2;
	text-align: middle;
	display: inline-block;
	height: $tone-size;
	margin-right: 8px;
}

footer span a {
	text-decoration: underline;
}

//FLEXBOX
body {
	display: flex;
	flex-flow: column;
}

.title-buttons {
	height: $tone-size;
	
	display: flex;
	align-items: center;
	
	.left {
		span {
			width: $chord-width;
			opacity: 0.5;
			font-size: 0.9em;
			text-align: center;
		}
	}
	
	.middle {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.order-button {
		opacity: 0.5;
		font-size: 0.9em;
	}
}

//general blocks
.left {
	flex-basis: 50%;
	
	display: flex;
	justify-content: flex-end;
	
	min-width: $chord-width;
}
.middle {
	flex: 0 0 $tone-size * 13;
	
	display: flex;
	
}
.right {
	flex-basis: 50%;
	min-width: $chord-width;
}

.scalegroup-title {
	height: $tone-size;
	
	display: flex;
	align-items: center;
}

//scale lines
.scale {
	display: flex;
	align-items: center;
}

//Scalegroups titles layout
